* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 100vh;
}

.converter {
  width: 50%;
  max-width: 400px;
  margin: auto;
  position: relative;
  padding-top: 5rem;
}

.converter-body,
.converter-header {
  width: 100%;
  max-width: 400px;
  left: 40px;
}

.converter-body {
  display: flex;
  flex-direction: column;
  background-color: #f3faff;
  padding: 10px 20px 10px 10px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

h4,
p {
  margin-bottom: 1rem;
}

.item {
  margin-bottom: 6px;
}

.item-wrapper {
  display: block;
  width: 100%;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 1.5rem;
  position: relative;
}

.item-info > span {
  margin-right: 10px;
  font-weight: 700;
}

.item-value {
  width: 100%;
  max-width: 400px;
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #bbbaba;
  border-radius: 2px;
}

.item-name-ru {
  display: block;
  text-align: right;
  margin-top: 2px;
  font-size: 0.6rem;
  color: #9f9f9f;
}

/* dropdown */

.add-inputs {
  margin-top: 1rem;
  position: relative;
}

.drop {
  width: 400px;
  height: 200px;
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff8ed;
  box-shadow: 0 0.5rem 1rem #bbbaba;
  overflow-y: scroll;
}

li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ece4d8;
}

li:hover {
  background-color: #ffedd0;
}

.drop.active {
  display: block;
  top: 160%;
}

.menu {
  display: inline-block;
  font-size: 1.1rem;
  cursor: pointer;
  color: #166498;
}

.menu:hover {
  color: #ff9d00;
}

/* close */
.close {
  position: absolute;
  right: -18px;
  height: 15px;
  cursor: pointer;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  content: " ";
  height: 15px;
  width: 1px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
